.search-query, .search-submit
{
    font-size: calc(10px + 0.5vmin);
    border: 1px solid gray;
    padding: 10px;
}

.search-query
{
    width: 40vw;
    border: 1px solid gray;
    border-radius: 10px 0 0 10px;
}

.search-submit
{
    border-radius: 0 10px 10px 0;
}